.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
/venv/
/venv/Scripts/
/venv/Scripts/activate
/venv/Scripts/activate.bat
/venv/Scripts/deactivate
/venv/Scripts/deactivate.bat
/venv/Scripts/garden
/venv/Scripts/pip
/venv/Scripts/pip.exe
/venv/Scripts/pip.exe.manifest